# ----------------------------------------------------------------------------
# "tools_stack" innehåller deklaration av verktyg som ska tillgängliggöras
#  för koden i katalogen.
# ----------------------------------------------------------------------------
#  För en lista över tillgängliga verktyg kör "ocptoolsavail" från bash
#
#           apache-maven-3.5.4-bin
#           apache-maven-3.6.0-bin
#           node-v10.15.3-win-x64
#           node-v11.13.0-win-x64
#           java-11-openjdk-11.0.1.13-1.redhat.windows.x86_64
#
#  Referens till verktyget kan sedan vara en unik delmängd av det fullständiga
#  namnet t.ex. "java-11" använder befintlig eller installerar senaste tillgängliga
#  Java 11 på Skatteverket medan "openjdk-11.0.1.13" installerar specifik version.
# ----------------------------------------------------------------------------

tools_stack="
   java-11-openjdk
   apache-maven-3.8.3
   gradle-7.4.2
"

# ----------------------------------------------------------------------------
# Vill du stänga av miljöhantering via "direnv"?
# Ta då bort # på följande rader och kommentera ut `setup_ocp_tools_stack`.
# ----------------------------------------------------------------------------
#export tools_stack=""
#export PROMPT_COMMAND=""

# ----------------------------------------------------------------------------
# Default-konfigurationen av Git-Bash på Skatteverket sätter upp sökvägar på
# på nätverket vilket i vissa fall kan påverka prestanda negativt.
# ----------------------------------------------------------------------------

# Använder du /k/bin, kommentera ut raden nedan.
export PATH=$(echo "$PATH" | sed -e 's,:/k/bin:,:,')

# Anvönder du ClearCase, kommentera ut raden nedan.
export PATH=$(echo "$PATH" | sed -e 's,://zv/zv/bin:,:,')

# ----------------------------------------------------------------------------
# Realisera miljön med verktyg specificerade ovan,
# implementation finns under /c/WS/ocp-tools/direnv_ocp_helper.sh.
# ----------------------------------------------------------------------------
setup_ocp_tools_stack
